*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Josefin Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
background: linear-gradient(-90deg, black, #666);
}



#video-bg-elm{
	min-width:100%;
	min-height:100%;
	margin:auto;
	position:fixed;
	z-index:-1000;
	overflow: hidden;
	}


header{
	margin-top:5px;
	height:120px;
	width:100%;
	/*background-color:green;*/
	}




.navbar{
	/*background-color:rgba(58, 59, 73, 0.6);*/
	background-color:rgba(145, 255, 231, 0.24);
	box-shadow:2px 2px rgba(255, 255, 232, 0.1);
	}



.nav-container{
	width:90%;
	margin:auto;
	/*background-color:red;*/
}

.nav-container .logo{
	float:left;
	margin-top:10px;
	}

.nav-container img{
	/*background-color:red;*/
	}



.page-scroll a{
	color:#fff;
	}


.page-scroll a:hover{
	color:#000;
	}




.navbar-toggle{
	border-color: #fff;
	}

.navbar-toggle .icon-bar{
    background-color: #ddd;
	}

.container{
	padding:0, auto;
	margin:0, auto;
	/*background-color: #ccc;*/
	width:90%;
	}




.jumbotron{
	color:#fff;
	background-color:red;
	background:none;
	text-align: center;
	}


.jumbotron .title{
	margin-top:100px;
	margin-bottom:220px;
	height:200px;
/*	border:1px solid #73C6B6;*/
	background-color:rgba(177, 213, 239, 0.11);
	/*background-color:rgba(140, 243, 234, 0.04);*/
    border-radius: 20px;
	box-shadow:1px 1px rgba(255, 255, 232, 0.2);
	border-radius: 5px;
	font-family:Bellefair;
	}


	.title h1{
		margin-top:40px;
	}

	

	
	#about{
	/*	background-color:blue;*/
		height:100px;
		}




	#about-page{
	/*	background-color:#fff;*/
		border-radius: 10px;
		}
	
		


	.para{
		margin-top:10px;
		color:#000;
		border-radius: 15px;
		background-color:#fff;
		height:456px;
		}


.para p{
/*	background-color: red;*/
	font-family:Josefin Sans;
	line-height: 1.5;
	width:70%;
	margin:auto;
	font-size: 150%;
	color:#000;
	text-align:center;
	padding-top:40px;
/*	padding:20px;*/
	}


 /*...............................Image section right panel....................*/
 /*.............................................................................*/

	.image-section-container{
		background-color:#fff;
		border-radius:10px;
		margin-top:10px;
		}
	

	#image-section #find-me{
		margin-top:50px;
		color:#000;
		}

	#image-section #profile, #find-me, #social-link{
		/*background-color:red;*/
	/*	border:solid black;*/
		}

	#image-section #profile{
		height:200px;
		}

	#image-section .image{
		margin-top:40px;
		height:90%;
		}


	#image-section .image img{
		height:100%;
		/*background-color:yellow;*/
		}



	#image-section #social-link{
		height:150px;
		}


	
	#image-section #social-link .img{
		width:80px;
		height:80px;
		}


	/*#image-section #social-link .img:hover img{
		filter:blur(1px) brightness(100%) opacity(80%);
		transition:.05s;
	}*/

#image-section #social-link .img:hover img{
		/*background-color:rgba(177, 213, 239, 0.11);*/
		filter:blur(1px) brightness(100%) opacity(80%);
		transition:.05s;
	}

	
	#image-section #social-link img{
		height:100%px;
		width:100%;
		}



	.skill-section{
		margin-top:30px;
		/*background-color:blue;*/
		height:70px;
		}


		#skills{
		height:100px;
		}


		.skill-section .right-bar{
			width:35%;
			float:left;
			height:40px;
			/*background-color:green;*/
			}

		.skill-section .mid-bar{
			text-align: center;
			width:30%;
			height:40px;
			float:left;
			color:#fff;
		/*	background-color:red;*/
			}


		.mid-bar h3{
			margin:auto;
			font-size:250%;
			}

		.skill-section .left-bar{
			width:35%;float:left;
			height:40px;
		/*	background-color:green;*/
			}



		.skill-section hr{
			width:70%;
			margin-top:18px;
			border:none;
			height:1px;
			background-color:#73C6B6;
			/*background-color:red;*/
		}

		
		.skill-section .left-bar hr{
		float:right;
		}






/*..................icon sections................................................*/
/*..................................................................................
*/

	#tool-container{
		/*background-color:red;	*/
	}
	



	#tool-container img{
		border-radius: 10px;
		box-shadow:3px 3px rgba(255, 255, 232, 0.2);
	}



	#left-iconbar{
	background: linear-gradient(-90deg, #727278, #797982, #929299, #909099, #7d7d89);
		/*	background-color: #6C6C72;*/
			padding:10px;
		margin-top:10px;
		}


	#right-iconbar{
	background: -webkit-linear-gradient(left, #3c3c42, #a0a0a7, #b5b5be, #a5a5a7, #7b7b82, #7c7c84);
	 padding:10px;
		margin-top:10px;
		}

	.software-name{
		font-size:100%;
		color:#fff;
		text-align:center;
	/*	background-color:red;*/
		margin:auto;
		margin-top:5px;
		}
	

	.icon-container{
		width:50px;
		height:50px;
		margin:auto;
		}
	

	.icon-container img{
		height:100%;
		width:100%;
		}

	#column{
		margin-bottom:40px;
		}


	#tool-container h3{
		/*background-color:red;*/

		text-align:center;
		height:50px;
		color:#fff;
		/*border-bottom: 1px solid red;*/
		}




/*
.........................work section...................................
........................................................................*/

		#sample-work{
		height:100px;
	/*	background-color:red;*/
		}


	.work-section{
	/*	background-color:green;*/
		}
		



	.work-section .work{
		margin-top:20px;
		width:100%;
		height:100%;
		background-color:pink;
		}

	
	.work-section .work img{
		width:100%;
		height:100%;
		}



#contact{
	height:150px;
	}


.contact-section{
	background-color:#000;
	height:400px;
	border:1px solid white;
	border-radius:10px;
	}


.col-icon{
	background-color:pink;
	}



.social-media{
	width:100%;
	margin-top:50px;
	background-color:pink;
	}



.social-media ul{
	background-color: blue;
	width:45%;
	margin:auto;
	}



.social-media li{
	/*background-color:blue;*/
	display:inline-block;
	padding:20px;
	}


.social-media img{
	width:60px;
	height:60px;
	}




.contact-section .sneha{
	margin:auto;
	background-color:green;
	height:80px;
	width:2px;
	margin-top:20px;


}












footer{
	clear:both;
	margin:0;
	padding:0;
border:1px solid #fff;
	background-color:#fff;
	height:50px;
	margin-top:200px;
	}

#footer-container{
	margin-top:30px;
	/*background-color:green;*/
	text-align:center;
	}






/*
...................smaller device screen with media query...................*/

									@media screen and (max-width: 768px){


	.jumbotron .title{
		margin-top:120px;
		margin-bottom:150px;
		}


	.jumbotron .title p{
			/*color:palegoldenrod;*/
			font-size:90%;
			}



.jumbotron .title{
	margin-top:50px;
	margin-bottom:220px;
	height:150px;
/*	border:1px solid #73C6B6;*/
	background-color:rgba(140, 243, 234, 0.04);
    border-radius: 20px;
	box-shadow:1px 1px rgba(255, 255, 232, 0.2);
	border-radius: 5px;
	font-family:Bellefair;
	}


	.title h1{
		font-size:240%;
		margin-top:40px;
		}


/*...........................about me section........................*/
	.para{
		font-size:80%;
		}

	.para p{
		width:90%;
		}

	.mid-bar h3{
		font-size:40px;
		}

	#image-section #social-link .img{
		width:60px;
		height:60px;
		}






		.skill-section .right-bar{
			width:20%;
			float:left;
			height:40px;
			/*background-color:green;*/
			}


	.skill-section .mid-bar{
			text-align: center;
			width:60%;
			height:40px;
			float:left;
			color:#fff;
		/*	background-color:red;*/
			}


		.skill-section .left-bar{
			width:20%;
			float:left;
			height:40px;
		/*	background-color:green;*/
			}


	.mid-bar h3{
		margin:auto;
		margin-top:8px;
		font-size:120%;
		}





	.skill-section hr{
		width:90%;
		}


	.skill-section .left-bar hr{
		float:left;
		}
	.skill-section .right-bar hr{
		float:right;
		}




		#contact-me .contact-name{
margin-top:10px;

}




